<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USDAAPIKey</key>
	<string></string>
	<key>ClaudeAPIKey</key>
	<string></string>
	<key>PrivacyPolicyURL</key>
	<string>https://lbarnhart.github.io/Mira8/privacy/</string>
	<key>TermsOfServiceURL</key>
	<string>https://lbarnhart.github.io/Mira8/terms/</string>
	<key>HelpCenterURL</key>
	<string>https://lbarnhart.github.io/Mira8/support/</string>
	<key>MethodologyURL</key>
	<string>https://lbarnhart.github.io/Mira8/methodology/</string>
	<key>SupportEmail</key>
	<string>barnhartl91@gmail.com</string>
</dict>
</plist>
